<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase __YOUR_PUBLIC_FOLDER_URL__ #    e.g /kapframework/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

</IfModule>